.formTitle{
    background: rgb(99, 99, 247) !important;
    color : white !important;
}


.displayModal{

    margin-top: 12% !important;
    border-radius: 8px !important;
    width: 25% !important;
}

.btn-primary {
    background-color:  rgb(99, 99, 247) !important;
    border-radius: 5px;
    color: white;
}


.input{
    padding: 5px;
    border-radius: 8px;
    border-color: rgb(226, 215, 215);
}


.formFooter{
    background: rgb(175, 175, 175) !important;
    color : white !important;
}
